<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/navbar.js" type="module"></script>
<nav>
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/circle.png">
                <div>LifeChain</div>
            </a>
        </div>
        <div class="item">
            <div class="orders-btn">Orders</div>
            <div class="sign-in-btn">Sign in</div>
        </div>
    </div>
    <div class="form-container">
        <div class="sign-in">
            <div class="close-btn close-in-btn"></div>
            <div class="title">Sign in</div>
            <form>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <button>Sign in</button>
                <div class="switch-up">Don't have an account? Sign up</div>
            </form>
        </div>
        <div class="sign-up">
            <div class="close-btn close-up-btn"></div>
            <div class="title">Sign up</div>
            <form>
                <input type="text" placeholder="User name" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <button>Sign up</button>
                <div class="switch-in">Already have an account? Sign in</div>
            </form>
        </div>
    </div>
</nav>