<link rel="stylesheet" href="/css/navbar.css">
<nav>
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/circle.png">
                <div>LifeChain</div>
            </a>
        </div>
        <div class="item">
            <div>Orders</div>
            <div>Sign in</div>
        </div>
    </div>
</nav>