<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/calculate.css">
    <script src="/js/calculate.js" type="module"></script>
</head>
<body>
    <%- include('../partials/navbar.ejs'); %>
    <header>
        <div class="img-container"></div>
        <div class="calculate">
            <form class="cal-form">
                <div class="field">
                    <label for="age">Your age:</label>
                    <input type="number" id="age" class="age" placeholder="25" required>
                </div>
                <div class="field">
                    <label for="days">Travel days:</label>
                    <input type="number" id="days" class="days" placeholder="-" min="1" max="6" required>
                </div>
                <div class="field">
                    <div>
                        <label for="assured">Sum assured:</label>
                        <select id="assured" class="assured" required>
                            <option value="" selected disabled hidden>-</option>
                            <option class="f1-opt hide" id="5" value="5">2,000,000</option>
                            <option class="f2-opt hide" id="4" value="4">3,000,000</option>
                            <option class="f3-opt hide" id="3" value="3">5,000,000</option>
                            <option class="f4-opt hide" id="2" value="2">8,000,000</option>
                            <option class="f5-opt hide" id="1" value="1">10,000,000</option>
                            <option class="f6-opt hide" id="0" value="0">15,000,000</option>
                        </select>
                    </div>
                    <button>Calculate</button>
                </div>
            </form>
        </div>
    </header>
    <div class="hr"></div>
    <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum. Egestas egesollicitudin amet malesuada nec tempor quis. Et mattis </section>
    <main class="hide">
        <h2>Insurance Details</h2>
        <ul class="item-container"></ul>
        <div class="hr"></div>
        <div class="payment">
            <div>Total: 2000</div>
            <a href="/payment">Order</a>
        </div>
    </main>
</body>
</html>